.main-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-box {
  background: rgb(32, 25, 49);
  color: white;
  border-radius: 24px;
}

.main-header {
  display: flex;
  margin: 16px;
}
.main-header p {
  margin-right: 16px;
  line-height: 24px;
}
.main-header .active {
  font-weight: 700;
  border-bottom: 2px solid #59f;
}

.main-header .inactive {
  color: gray;
}

.main-body {
  min-width: 400px;
}

.row-label {
  margin-bottom: 0;
}

.row-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 16px;
  border: 1px solid rgb(44, 47, 54);
  background-color: rgb(39, 38, 64);
  border-radius: 20px;
  padding: 16px;
}

.input-field {
  background: rgb(39, 38, 64);
  border: none;
  color: white;
  text-align: right;
  font-weight: 500;
  font-size: 24px;
}

.input-field::placeholder {
  color: gray;
}

.token-button {
  background: rgb(32, 25, 49);
  color: white;
  border-radius: 16px;
  border: none;
  padding: 6px 8px;
  display: flex;
  align-items: center;
}

.max-balance {
  color: rgb(195, 197, 203);
  margin-top: 6px;
  margin-bottom: 0;
  min-width: 200px;
}

.max-button {
  background: none;
  border: none;
  color: #59f;
}

.token-img {
  height: 24px;
}

.token-label {
  margin: 0 10px;
}

.extra-margin {
  margin-bottom: 168px;
}

.submit-button {
  width: calc(100% - 32px);
  height: 58px;
  border-radius: 20px;
  margin: 8px 16px 16px 16px;
  border: none;
  background: linear-gradient(
        98.83deg,
        rgba(78, 82, 154, 0.9) -23.32%,
        rgba(140, 141, 252, 0.9) 93.86%
      )
      padding-box,
    rgb(255, 255, 255);
}

/* Chrome arrows fix */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
